

.checkbox-container label {
    cursor: pointer;
    display: flex;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '\002714';
    background-color: #e7e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: .15em;
    margin-right: .5em;
    /* background-color: #FF7594; */
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
    /* background-color: #FF7594; */
}

.checkbox-container input[type='checkbox']:focus + label::before {
}

.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled {
    color: #aaa;
    cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #FF7594;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}